@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #2563eb;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #3b82f6;
    --color-secondary: #a855f7;
    --color-accent: #fbbf24;
  }
}

body {
 @apply bg-background text-foreground font-sans;
}
